.company_icon {
    width: 8rem;    
}

.bottom_box {
    position: relative;
    display:flex; 
    flex-direction: row;
    width: 100vw;
    overflow:hidden; 
    background-color: white;    
    align-items: flex-start;
    justify-content: space-between; 
    
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.icon_box {
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
     width: 15vw;
}
.company_info_box {
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
     width: 60vw;
}

.company_info_sub_box { 
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

.sns_box {
    position: relative;
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 25vw;
}


.info_box  {
    margin-bottom: 1rem;
}

.info_sub_box  {
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
 }

.term_box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; 
}

.company_name_txt {
    font-size: 1rem;
    color: black;
    text-align: left;
    font-weight: bold;
    white-space:pre-wrap;
    line-height: 2rem;
    margin-right: 1rem;
}

.content_txt {
    font-size: 0.8rem;
    color: black;
    text-align: left;
    font-weight: normal;
    white-space:pre-wrap;
}
.term_txt {
    font-size: 0.8rem;
    color: black;
    text-align: left;
    font-weight: normal;
    white-space:pre-wrap;
    margin-right: 0.8rem;
}

.sns_icon {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
}

.subscribe_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding: 1rem;
   
}

.subscribe_inbox {
    border-radius: 0.5rem;
    overflow: hidden;
    border-width: 1;
    border-color: red;
    border-style:solid;
    height: 2rem;
    padding-left: 0.5rem;
}

.subscribe_input {
    width: 15rem;
    height:100%;
    border-width: 0;
    padding:0;
}
.subscribe_input:focus {
    outline: none;
}

.subscribe_btn {
    width: 5rem;
    height:100%;
    border-width: 0;
    background-color: red;
    color: white;
    font-weight: bold;
}

.subscribe_error {
    padding-top: 0.2rem;
    width: 20.5rem;
    text-align: left;
    color: red;
}
.subscribe_hide {
    display: none;
}

@media (max-width: 900px) { 
    .icon_box {
        width: 100vw;
    }
    .bottom_box {
        flex-direction: column;
    }
    .company_info_box {
        padding-left: 1rem;
        width: 100vw;
    }
    .company_info_sub_box {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .info_sub_box {
        margin-bottom: 1rem;
    }
    .sns_box {
        margin-top: 2rem;
    }
}